body{
  margin: 0;
}

/*Navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  height: 55px;
  flex-shrink: 0;
}


.icon--title{
  color: white;
  font-family: Inter;
  font-size: 14.461px;
  font-weight: 500;
  margin-left: 10px;
}


/** Card **/

.card {
  display: flex;
  align-items: center;
  padding: 20px;
  font-family: Inter;
  color: #2B283A;
  margin-bottom: 50px;

}

.card--image{
  width: 130px;
  height: 168px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
  margin-right: 19px;
  
}

.card--location{
  display: flex;
  align-items: center;
  font-size: 10.24px;
  font-weight: 400;
  letter-spacing: 1.741px;
}

p {
  margin-left: 5px;
}

.card--location--link{
  font-size: 10.24px;
  text-decoration: underl;
  color: #918E9B;
}

.card--location span{
  display: flex;
  align-items: center;
  font-weight: 400;
  letter-spacing: 1.741px;
  margin-right: 12px;

}


.card--title{
  font-size: 25px;
  font-weight: 700;
}

.card--date{
  font-size: 10.24px;
  font-weight: 700;
}

.card--description{
  font-size: 10.24px;
  font-weight: 400;
}


/**Card List**/
.card-list{
  margin: auto;
  width: 500px;
  padding-top: 50px;
}